## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# Importing necessary libraries

In [106]:
import pandas as pd
import os
import sqlite3
import matplotlib as plt
%matplotlib inline

# Checking that I am working in the correct directory

In [2]:
pwd

'/Users/jarifathiel/Flatiron/Mod1_project/dsc-mod-1-project-v2-1-onl01-dtsc-ft-012120'

In [2]:
#df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [3]:
#df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

# Putting all the data sets together (Come up with something better)

In [3]:
from glob import glob

## Puts all data sets into a list (I believe)

In [4]:
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/imdb.title.crew.csv.gz',
 './zippedData/imdb.title.principals.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz']

In [5]:
type(csv_files)

list

## Using a for loop to iterate through the list of data sets (better markdown here)

In [6]:
d = {} #Why is d = to a dictionary but makes a list?

In [7]:
for file in csv_files:
    d[file] = pd.read_csv(file)

In [8]:
d.keys()

dict_keys(['./zippedData/bom.movie_gross.csv.gz', './zippedData/imdb.name.basics.csv.gz', './zippedData/imdb.title.akas.csv.gz', './zippedData/imdb.title.basics.csv.gz', './zippedData/imdb.title.crew.csv.gz', './zippedData/imdb.title.principals.csv.gz', './zippedData/imdb.title.ratings.csv.gz', './zippedData/tmdb.movies.csv.gz', './zippedData/tn.movie_budgets.csv.gz'])

## (Put something describing what is going on below)

In [9]:
d['./zippedData/imdb.title.crew.csv.gz'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

## Cleaning the data sets names to ger rid of the extra ".csv" & "." before "gz"

In [10]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

In [11]:
csv_files_dict.keys()

dict_keys(['bom_movie_gross_gz', 'imdb_name_basics_gz', 'imdb_title_akas_gz', 'imdb_title_basics_gz', 'imdb_title_crew_gz', 'imdb_title_principals_gz', 'imdb_title_ratings_gz', 'tmdb_movies_gz', 'tn_movie_budgets_gz'])

In [72]:
csv_files_dict.values()

dict_values([                                                 studio  domestic_gross  \
title
Toy Story 3                                          BV     415000000.0
Alice in Wonderland (2010)                           BV     334200000.0
Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
Inception                                            WB     292600000.0
Shrek Forever After                                P/DW     238700000.0
...                                                 ...             ...
The Quake                                         Magn.          6200.0
Edward II (2018 re-release)                          FM          4800.0
El Pacto                                           Sony          2500.0
The Swan                                     Synergetic          2400.0
An Actor Prepares                                 Grav.          1700.0

                                            foreign_gross  year
title
Toy Story 3                                     652000000  2010
Alice in Wonderland (2010)                      691300000  2010
Harry Potter and the Deathly Hallows Part 1     664300000  2010
Inception                                       535700000  2010
Shrek Forever After                             513900000  2010
...                                                   ...   ...
The Quake                                             NaN  2018
Edward II (2018 re-release)                           NaN  2018
El Pacto                                              NaN  2018
The Swan                                              NaN  2018
An Actor Prepares                                     NaN  2018

[3387 rows x 4 columns],                   primary_name  birth_year  death_year  \
nconst
nm0061671    Mary Ellen Bauder         NaN         NaN
nm0061865         Joseph Bauer         NaN         NaN
nm0062070           Bruce Baum         NaN         NaN
nm0062195         Axel Baumann         NaN         NaN
nm0062798          Pete Baxter         NaN         NaN
...                        ...         ...         ...
nm9990381         Susan Grobes         NaN         NaN
nm9990690          Joo Yeon So         NaN         NaN
nm9991320       Madeline Smith         NaN         NaN
nm9991786  Michelle Modigliani         NaN         NaN
nm9993380       Pegasus Envoyé         NaN         NaN

                                         primary_profession  \
nconst
nm0061671         miscellaneous,production_manager,producer
nm0061865        composer,music_department,sound_department
nm0062070                        miscellaneous,actor,writer
nm0062195  camera_department,cinematographer,art_department
nm0062798  production_designer,art_department,set_decorator
...                                                     ...
nm9990381                                           actress
nm9990690                                           actress
nm9991320                                           actress
nm9991786                                          producer
nm9993380                             director,actor,writer

                                  known_for_titles
nconst
nm0061671  tt0837562,tt2398241,tt0844471,tt0118553
nm0061865  tt0896534,tt6791238,tt0287072,tt1682940
nm0062070  tt1470654,tt0363631,tt0104030,tt0102898
nm0062195  tt0114371,tt2004304,tt1618448,tt1224387
nm0062798  tt0452644,tt0452692,tt3458030,tt2178256
...                                            ...
nm9990381                                      NaN
nm9990690                      tt9090932,tt8737130
nm9991320                      tt8734436,tt9615610
nm9991786                                      NaN
nm9993380                                tt8743182

[606648 rows x 5 columns],            ordering                                    title region language  \
title_id
tt0369610        10                            Джурасик свят     BG       bg
tt0369610        11                        Jurashikku warudo     JP      NaN
tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR      NaN
tt0369610        13                  O Mundo dos Dinossauros     BR      NaN
tt0369610        14                           Jurassic World     FR      NaN
...             ...                                      ...    ...      ...
tt9827784         2                       Sayonara kuchibiru    NaN      NaN
tt9827784         3                            Farewell Song    XWW       en
tt9880178         1                              La atención    NaN      NaN
tt9880178         2                              La atención     ES      NaN
tt9880178         3                            The Attention    XWW       en

                 types   attributes  is_original_title
title_id
tt0369610          NaN          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610          NaN  short title                0.0
tt0369610  imdbDisplay          NaN                0.0
...                ...          ...                ...
tt9827784     original          NaN                1.0
tt9827784  imdbDisplay          NaN                0.0
tt9880178     original          NaN                1.0
tt9880178          NaN          NaN                0.0
tt9880178  imdbDisplay          NaN                0.0

[331703 rows x 7 columns],                                          primary_title  \
tconst
tt0063540                                    Sunghursh
tt0066787              One Day Before the Rainy Season
tt0069049                   The Other Side of the Wind
tt0069204                              Sabse Bada Sukh
tt0100275                     The Wandering Soap Opera
...                                                ...
tt9916538                          Kuambil Lagi Hatiku
tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
tt9916706                              Dankyavar Danka
tt9916730                                       6 Gunn
tt9916754               Chico Albuquerque - Revelações

                                        original_title  start_year  \
tconst
tt0063540                                    Sunghursh        2013
tt0066787                              Ashad Ka Ek Din        2019
tt0069049                   The Other Side of the Wind        2018
tt0069204                              Sabse Bada Sukh        2018
tt0100275                        La Telenovela Errante        2017
...                                                ...         ...
tt9916538                          Kuambil Lagi Hatiku        2019
tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
tt9916706                              Dankyavar Danka        2013
tt9916730                                       6 Gunn        2017
tt9916754               Chico Albuquerque - Revelações        2013

           runtime_minutes                genres
tconst
tt0063540            175.0    Action,Crime,Drama
tt0066787            114.0       Biography,Drama
tt0069049            122.0                 Drama
tt0069204              NaN          Comedy,Drama
tt0100275             80.0  Comedy,Drama,Fantasy
...                    ...                   ...
tt9916538            123.0                 Drama
tt9916622              NaN           Documentary
tt9916706              NaN                Comedy
tt9916730            116.0                   NaN
tt9916754              NaN           Documentary

[146144 rows x 5 columns],                                directors              writers
tconst
tt0285252                      nm0899854            nm0899854
tt0438973                            NaN  nm0175726,nm1802864
tt0462036                      nm1940585            nm1940585
tt0835418                      nm0151540  nm0310087,nm0841532
tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...                                  ...                  ...
tt8999974                     nm10122357           nm10122357
tt9001390                      nm6711477            nm6711477
tt9001494          nm10123242,nm10123248                  NaN
tt9004986                      nm4993825            nm4993825
tt9010172                            NaN            nm8352242

[146144 rows x 2 columns],            ordering      nconst  category       job            characters
tconst
tt0111414         1   nm0246005     actor       NaN           ["The Man"]
tt0111414         2   nm0398271  director       NaN                   NaN
tt0111414         3   nm3739909  producer  producer                   NaN
tt0323808        10   nm0059247    editor       NaN                   NaN
tt0323808         1   nm3579312   actress       NaN      ["Beth Boothby"]
...             ...         ...       ...       ...                   ...
tt9692684         1   nm0186469     actor       NaN  ["Ebenezer Scrooge"]
tt9692684         2   nm4929530      self       NaN   ["Herself","Regan"]
tt9692684         3  nm10441594  director       NaN                   NaN
tt9692684         4   nm6009913    writer    writer                   NaN
tt9692684         5  nm10441595  producer  producer                   NaN

[1028186 rows x 5 columns],             averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21
...                   ...       ...
tt9805820             8.1        25
tt9844256             7.5        24
tt9851050             4.7        14
tt9886934             7.0         5
tt9894098             6.3       128

[73856 rows x 2 columns],                  genre_ids      id original_language  \
0          [12, 14, 10751]   12444                en
1      [14, 12, 16, 10751]   10191                en
2            [12, 28, 878]   10138                en
3          [16, 35, 10751]     862                en
4            [28, 878, 12]   27205                en
...                    ...     ...               ...
26512             [27, 18]  488143                en
26513             [18, 53]  485975                en
26514         [14, 28, 12]  381231                en
26515      [10751, 12, 28]  366854                en
26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 9 columns],     release_date                                        movie  \
id
1   Dec 18, 2009                                       Avatar
2   May 20, 2011  Pirates of the Caribbean: On Stranger Tides
3    Jun 7, 2019                                 Dark Phoenix
4    May 1, 2015                      Avengers: Age of Ultron
5   Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
..           ...                                          ...
78  Dec 31, 2018                                       Red 11
79   Apr 2, 1999                                    Following
80  Jul 13, 2005                Return to the Land of Wonders
81  Sep 29, 2015                         A Plague So Pleasant
82   Aug 5, 2005                            My Date With Drew

   production_budget domestic_gross worldwide_gross
id
1       $425,000,000   $760,507,625  $2,776,345,279
2       $410,600,000   $241,063,875  $1,045,663,875
3       $350,000,000    $42,762,350    $149,762,350
4       $330,600,000   $459,005,868  $1,403,013,963
5       $317,000,000   $620,181,382  $1,316,721,747
..               ...            ...             ...
78            $7,000             $0              $0
79            $6,000        $48,482        $240,495
80            $5,000         $1,338          $1,338
81            $1,400             $0              $0
82            $1,100       $181,041        $181,041

[5782 rows x 5 columns]])

In [12]:
csv_files_dict['bom_movie_gross_gz'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB

# Making SQL tables from csv (review)

## Making a new

In [13]:
conn = sqlite3.connect("movies_db.sqlite")

## Making SQL tables from dataframes

In [16]:
def create_sql_table_from_df(df, name, conn):
    try:  #explain what this does
        df.to_sql(name, conn)  #pandas function turning dataframes into sql tables
        print(f"Created table {name}")
    
    except Exception as e:  #explain what this does
        print(f"could not make table {name}")
        print(e)

In [17]:
for name, table in csv_files_dict.items(): #Dont rerun do this
    create_sql_table_from_df(table, name, conn)

could not make table bom_movie_gross_gz
Table 'bom_movie_gross_gz' already exists.
could not make table imdb_name_basics_gz
Table 'imdb_name_basics_gz' already exists.
could not make table imdb_title_akas_gz
Table 'imdb_title_akas_gz' already exists.
could not make table imdb_title_basics_gz
Table 'imdb_title_basics_gz' already exists.
could not make table imdb_title_crew_gz
Table 'imdb_title_crew_gz' already exists.
could not make table imdb_title_principals_gz
Table 'imdb_title_principals_gz' already exists.
could not make table imdb_title_ratings_gz
Table 'imdb_title_ratings_gz' already exists.
could not make table tmdb_movies_gz
Table 'tmdb_movies_gz' already exists.
could not make table tn_movie_budgets_gz
Table 'tn_movie_budgets_gz' already exists.

In [18]:
conn.execute("select name from sqlite_master where type='table';").fetchall() #names of all of the tables

[('bom_movie_gross_gz',),
 ('imdb_name_basics_gz',),
 ('imdb_title_akas_gz',),
 ('imdb_title_basics_gz',),
 ('imdb_title_crew_gz',),
 ('imdb_title_principals_gz',),
 ('imdb_title_ratings_gz',),
 ('tmdb_movies_gz',),
 ('tn_movie_budgets_gz',)]

## Explain

In [19]:
for item in csv_files_dict.items():
        print("===============New DF===============")
        print(item[0])
        print(item[1].info())
        print("================End DF===============")

===============New DF===============
bom_movie_gross_gz
<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB
None
================End DF===============
===============New DF===============
imdb_name_basics_gz
<class 'pandas.core.frame.DataFrame'>
Index: 606648 entries, nm0061671 to nm9993380
Data columns (total 5 columns):
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(3)
memory usage: 27.8+ MB
None
================End DF===============
===============New DF===============
imdb_title_akas_gz
<class 'pandas.core.frame.DataFrame'>
Index: 331703 entries, tt0369610 to tt9880178
Data columns (total 7 columns):
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 20.2+ MB
None
================End DF===============
===============New DF===============
imdb_title_basics_gz
<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB
None
================End DF===============
===============New DF===============
imdb_title_crew_gz
<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(2)
memory usage: 3.3+ MB
None
================End DF===============
===============New DF===============
imdb_title_principals_gz
<class 'pandas.core.frame.DataFrame'>
Index: 1028186 entries, tt0111414 to tt9692684
Data columns (total 5 columns):
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(4)
memory usage: 47.1+ MB
None
================End DF===============
===============New DF===============
imdb_title_ratings_gz
<class 'pandas.core.frame.DataFrame'>
Index: 73856 entries, tt10356526 to tt9894098
Data columns (total 2 columns):
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1)
memory usage: 1.7+ MB
None
================End DF===============
===============New DF===============
tmdb_movies_gz
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB
None
================End DF===============
===============New DF===============
tn_movie_budgets_gz
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: object(5)
memory usage: 271.0+ KB
None
================End DF===============

In [21]:
cur = conn.cursor()

## Question 1: What is the lowest grossing genre

In [73]:
# print([description[0] for description in cur.description])
cur.execute("""SELECT * FROM bom_movie_gross_gz;""").fetchone() #why do I get an error when I put fetchall()?
gross_movie_df = pd.DataFrame(cur.fetchall())
gross_movie_df.columns = [i[0] for i in cur.description]
gross_movie_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
1,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
2,Inception,WB,292600000.0,535700000,2010
3,Shrek Forever After,P/DW,238700000.0,513900000,2010
4,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010

In [92]:
#all of the columns from the sql tables
cur.execute("""SELECT * FROM imdb_title_basics_gz 
                        JOIN tmdb_movies_gz 
                        USING(original_title) 
                        JOIN bom_movie_gross_gz 
                        USING(title);""")
genre_and_revenue_df = pd.DataFrame(cur.fetchall())
genre_and_revenue_df.columns = [i[0] for i in cur.description]
genre_and_revenue_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,index,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count,studio,domestic_gross,foreign_gross,year
0,tt0892769,How to Train Your Dragon,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",1,"[14, 12, 16, 10751]",10191,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,P/DW,217600000.0,277300000,2010
1,tt1228705,Iron Man 2,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",2,"[12, 28, 878]",10138,en,28.515,2010-05-07,Iron Man 2,6.8,12368,Par.,312400000.0,311500000,2010
2,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",4,"[28, 878, 12]",27205,en,27.920,2010-07-16,Inception,8.3,22186,WB,292600000.0,535700000,2010
3,tt0435761,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",7,"[16, 10751, 35]",10193,en,24.445,2010-06-17,Toy Story 3,7.7,8340,BV,415000000.0,652000000,2010
4,tt1323594,Despicable Me,Despicable Me,2010,95.0,"Animation,Comedy,Family",8,"[16, 10751, 35]",20352,en,23.673,2010-07-09,Despicable Me,7.2,10057,Uni.,251500000.0,291600000,2010

In [123]:
#selecting columns needed out of sql tables and making them a pandas df
cur.execute("""SELECT primary_title, genres, domestic_gross, foreign_gross 
                        FROM imdb_title_basics_gz 
                        JOIN tmdb_movies_gz 
                        USING(original_title) 
                        JOIN bom_movie_gross_gz 
                        USING(title);""")
genre_and_revenue_df = pd.DataFrame(cur.fetchall())
genre_and_revenue_df.columns = [i[0] for i in cur.description]
genre_and_revenue_df.head()

,primary_title,genres,domestic_gross,foreign_gross
0,How to Train Your Dragon,"Action,Adventure,Animation",217600000.0,277300000
1,Iron Man 2,"Action,Adventure,Sci-Fi",312400000.0,311500000
2,Inception,"Action,Adventure,Sci-Fi",292600000.0,535700000
3,Toy Story 3,"Adventure,Animation,Comedy",415000000.0,652000000
4,Despicable Me,"Animation,Comedy,Family",251500000.0,291600000

In [114]:
money_columns = ['domestic_gross', 'foreign_gross']

['domestic_gross', 'foreign_gross']

In [128]:
def convert_to_int(df, col): #converting from float and object to int
    df[col] = df[col].astype('int')
    return df

In [129]:
money_columns = ['domestic_gross', 'foreign_gross']

for col in money_columns:
    genre_and_revenue_df = convert_to_int(genre_and_revenue_df, col)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [112]:
genre_and_revenue_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3245 entries, 0 to 3244
Data columns (total 3 columns):
genres            3199 non-null object
domestic_gross    3215 non-null float64
foreign_gross     2112 non-null object
dtypes: float64(1), object(2)
memory usage: 76.2+ KB